@font-face {
    font-family: shabnam-eot;
    src: url(Shabnam.eot);
}

@font-face {
    font-family: Shabnam-ttf;
    src: url(Shabnam.ttf);
}

@font-face {
    font-family: Shabnam-woff;
    src: url(Shabnam.woff);
}

@font-face {
    font-family: Shabnam-Bold-ttf;
    src: url(Shabnam-Bold.ttf);
}

@font-face {
    font-family: Shabnam-Light-ttf;
    src: url(Shabnam-Light.ttf);
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    direction: rtl;
    margin: 0px;
}
.menu{
    height: 100%;
    width: 270px;
    position: fixed;
    background-color: white;
    right: 0px;
    display: flex;
    flex-direction: column;
    
}
.navbar {
    height: 160px;
    width: calc(100vw - 270px);
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-container{
    height: calc(100vh - 160px);
    width: calc(100vw - 270px);
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
}
.top-box{
    position: relative;
    width: 280px;
    height: 115px;
    background-color: white;
    border-radius: 8px;
}
.icon-1{
    background-color: #6370E3;
    position: absolute;
    left: 0px;
    width: 68px;
    height: 115px;
    border-radius: 8px 0px 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-2{
    background-color: #FBBD34;
    position: absolute;
    left: 0px;
    width: 68px;
    height: 115px;
    border-radius: 8px 0px 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-3{
    background-color: #EC4556;
    position: absolute;
    left: 0px;
    width: 68px;
    height: 115px;
    border-radius: 8px 0px 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-4{
    background-color: #4E93FB;
    position: absolute;
    left: 0px;
    width: 68px;
    height: 115px;
    border-radius: 8px 0px 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}