@font-face {
    font-family: Shabnam;
    src: url(Fonts/Fonts/Shabnam.woff);
}

@font-face {
    font-family: Shabnam-ttf;
    src: url(Fonts/Shabnam.woff);
}

@font-face {
    font-family: Shabnam-Bold-ttf;
    src: url(Fonts/Shabnam-Bold.ttf);
}

@font-face {
    font-family: Shabnam-Light-ttf;
    src: url(Fonts/Shabnam-Light.ttf);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    direction: rtl;
    margin: 0px;
}

.menu {
    height: 100%;
    width: 270px;
    position: fixed;
    background-color: white;
    right: 0px;
    display: flex;
    flex-direction: column;

}
.edit{
    position: absolute;
    left: 0px;
    top: 27px;
    width: 60px;
    height: 60px;
    color: white
}

.navbar {
    height: 120px;
    width: calc(100vw - 270px);
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-container {
    height: calc(100vh - 120px);
    width: calc(100vw - 270px);
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.top-box {
    position: relative;
    width: 280px;
    height: 80px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px #E6E6E6;
    padding: 0px;
}

.icon-1 {
    background-image: linear-gradient(to bottom right, #8D5FE5, #5E68E4);
    position: absolute;
    left: 0px;
    width: 68px;
    height: 80px;
    top:0px;
    border-radius: 8px 0px 0px 8px;
    
}

.icon-2 {
    background-image: linear-gradient(to bottom right, #FCC338,#F19C1D);
    position: absolute;
    left: 0px;
    width: 68px;
    height: 80px;
    border-radius: 8px 0px 0px 8px;
    
    top:0px;
}

.icon-3 {
    background-image: linear-gradient(to bottom right, #F3477F,#EC4451);
    position: absolute;
    left: 0px;
    width: 68px;
    height: 80px;
    border-radius: 8px 0px 0px 8px;
    
    top:0px;
}

.icon-4 {
    background-image: linear-gradient(to bottom right, #25C0F6,#5D81FC);
    position: absolute;
    left: 0px;
    width: 68px;
    height: 80px;
    border-radius: 8px 0px 0px 8px;
    
    top:0px;
}
.center {
    position: absolute;
    top: 15px;
    right: 10px;
    
}
.write-box {
    width: 750px;
    height: 350px;
    background-image: linear-gradient(to bottom right, #8D5FE5, #5E68E4);
    border-radius: 8px;
    box-shadow: 1px 1px #4B088A;
    position: relative;
}

.summary {
    width: 490px;
    height: 350px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    box-shadow: 1px 1px 1px 1px #E6E6E6;
}

.ticket {
    width: 750px;
    height: 230px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px #E6E6E6;
}

.inbox {
    width: 490px;
    height: 230px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    box-shadow: 1px 1px 1px 1px #E6E6E6;
}

.time {
    width: 270px;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div .time,
p {
    font-family: Shabnam-ttf;

}

h1,
h2,
h3 {
    display: inline;
}

.profile {
    width: 270px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.picture{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: inline;
}

.list{
    display: flex;
    flex-direction: column;
}
.list ul {
    list-style-type: none;
    color: #9e9e9e;
    font-family: Shabnam-Light-ttf;
}
.list ul li {
    padding: 8px;
    width: 80%;
}
.number{
    width: 17px;
    height: 17px;
    background-color: red;
    border-radius: 7.5px;
    float: left;
    font-size: 12px;
    text-align: center;
    color: white;
}

.ticket-list{
    margin-top: 10px;
    margin-right: 45px;
    display: inline-block;
    font-family: Shabnam-Light-ttf;
    font-size: 15px;
    color: #9e9e9e;

}
.underline{
    border-bottom:2px solid rebeccapurple;
    padding: 8px;
    font-family: Shabnam-Bold-ttf;
    color: black;
}
.summary-header{
    height: 35px;
    padding: 16px;
    right: 12px;
    position: absolute;
    border-bottom: 2px solid purple;
}
.summary-icon{
    width: 100px;
    height: 29px;
    position: absolute;
    left: 35px;
    border: 1px groove  #b8b4b4;
    border-radius: 10px;
    box-shadow: 5px, 5px;
    top:30px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.inbox-header {
    position: absolute;
    right: 12px;
    border-bottom: 2px solid purple;
    padding: 4px;

}
.number2 {
    width: 15px;
    height: 15px;
    background-color: #EEEEEE;
    border-radius: 7.5px;
    font-family: Shabnam-Light-ttf;
    font-size: 10px;
    margin-right:10px;
}

/*
fonts
*/
.h1time{
    font-family: Shabnam-Bold-ttf;
    font-size: 30px;
    color: #6155E5;
}
.h2time{
    font-family: Shabnam-ttf;
    font-size: 24px;
    color: #6155E5;

}
.h3time{
    font-family: Shabnam-Light-ttf;
    font-size: 14px;
    color: #6155E5;
}
.p1profile {
    font-family: Shabnam-Bold-ttf;
    font-size: 14px;
    padding: 0px;
    list-style-type: none;

}
.p2profile{
    font-family: Shabnam-ttf;
    font-size: 12px;
    color: #9e9e9e;
    list-style-type: none;


}

.p1topbox {
    font-family: Shabnam-Light-ttf;
    font-size: 11px;
    color: #9e9e9e;
    margin-right: 10px;
    

}
.p2topbox {
    font-family: Shabnam-Bold-ttf;
    font-size: 20px;
    margin-right: 10px;

}
.topbox ul {
    list-style-type: none;

}
.top-box li{
    list-style-type: none;

}
.top-box ul{

    padding-inline-start: 15px;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
}

